<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        class="custom-back-button"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-text">Reiniciar tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="background">
    <form #form="ngForm" (submit)="requestPasswordReset(form.value)">
      <ion-grid class="custom-form">
        <ion-row class="ion-align-items-center">
          <ion-col size="2"> </ion-col>
          <ion-col size="8">
            <div class="logo">
              <img [src]="'assets/images/app-pngArtboard12.png'" />
            </div>
          </ion-col>
          <ion-col size="2"> </ion-col>
        </ion-row>
        <ion-row *ngIf="!sent">
          <ion-col>
            <ion-item class="custom-input" lines="full">
              <ion-label color="white" position="floating">Correo</ion-label>
              <ion-input type="email" required name="email" ngModel></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="sent">
          <ion-col size="12">
            <ion-item class="custom-input" lines="full">
              <ion-label position="floating">Código de verificación:</ion-label>
              <ion-input type="number" required name="otp" ngModel></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="custom-input" lines="full">
              <ion-label position="floating">Nueva Contraseña:</ion-label>
              <ion-input
                [type]="passwordType"
                required
                name="password"
                ngModel
              ></ion-input>
              <ion-icon
                name="eye"
                slot="end"
                (click)="togglePasswordMode()"
              ></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="custom-input" lines="full">
              <ion-label position="floating">Repetir Contraseña:</ion-label>
              <ion-input
                [type]="passwordType"
                required
                name="passwordRepeat"
                ngModel
              ></ion-input>
              <ion-icon
                name="eye"
                slot="end"
                (click)="togglePasswordMode()"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="secondary" expand="block"
              >Enviar</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="info-text">
              <small info-text>
                Proporcione el nombre de usuario o la dirección de correo
                electrónico que utilizó para registrar su cuenta, recibirás un
                link al correo registrado para cambiar tu contraseña.
              </small>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
