.logo {
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  max-height: 250px;
  max-width: 250px;
  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    min-height: 200px;
    min-width: 150px;
  }
}

.background-image {
  position: relative;
  top: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 90%;
  width: 100%;
  background: url("/assets/images/app-pngArtboard11.png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-left: 25px;
  padding-right: 25px;
}

ion-button {
  height: 56px;
  --border-radius: 20px;
}

ion-content {
  background-color: white;
}

ion-header {
  background-color: rgba(0, 0, 0, 0);
}
